.testimonial .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 24px;
  padding: 112px 50px;
  margin-left: 55px;
  margin-top: 40px;
}


.testimonial > h1 {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 60px;
  font-style: italic;
}

.testimonials-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.testimonials-header > span {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-style: italic;
}

.testimonial .box-container .box {
  padding: 32px;
  position: relative;
  text-align: center;
  width: 450px;
  height: 250px;
  background: #fafafa;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.testimonial .box-container .box:hover {
  transform: translateY(-3%);
  transition: 0.25s linear;
  background: white;
  border: 0.15rem solid var(--green);
}

.testimonial .box-container .box .image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80;
}

.testimonial .box-container .box .image img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border: 2.5px solid var(--green);
  border-radius: 50%;

  position: absolute;
  top: -96px;
}

.testimonial .box-container .box .name {
  padding: 16px 0;
}

.testimonial .box-container .box .name h1 {
  font-size: 32px;
  color: black;
}

.testimonial .box-container .box .name p {
  color: #222;
  font-size: 21px;
}

.testimonial .box-container .box .name p span {
  text-transform: none;
}

.testimonial .box-container .box p {
  font-size: 15px;
  color: #333;
  font-weight: 400;
  line-height: 1.2;
}
